.navbar-inverse {
    background-color: #FFFFFF;
}
.navbar-toggle {
    background-color: #000000;
}
.navbar-brand {
	padding: 0px;
	padding-left: 15px;
}
.navbar {
	border: none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background: none;
	color: #FF8C00;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	border: none;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FF8C00;
    background-color: transparent;
}
footer{
	background-color: #464646;color: #FFFFFF;
}
footer li{
	margin-right: 5px;
}
.ulside li{
	border-top: 1px solid #f3f3f3;padding-top: 5px;padding-bottom: 5px;
}
.ulside span{
	float: right;
}
.ulside a{
	color: rgb(59, 60, 62);
}